
$screen-sm-min: 576px;

$screen-md-min: 768px;

$screen-lg-min: 992px;

$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


.footer {
    height: fit;
    background-color: rgb(62, 60, 97);
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    padding: 0 15%;

    .footer__item {
        text-align:  center;
        align-self: center;
        .footer__item-color-text {
            color: rgb(108, 97, 255);
        }
        .footer__item-white-text {
            color: rgb(233, 232, 237);
        }
        a {
            text-decoration:  none !important;
            color: inherit;
        }
    }

    @include md {
        .footer__item:first-child {
            text-align: left;
        }
    
        .footer__item:last-child { 
            text-align: right;
        }
      }
      
  
}