<div class="footer">
    <div class="footer__item">
        <p class="footer__item-color-text"><a href="www.probnizadatak.com" target="_blank">www.probnizadatak.com</a></p>
        <p class="footer__item-white-text"><a href="mailto:mail@probni.zadatak.com">mail@probni.zadatak.com</a></p>
    </div>

    <div class="footer__item">
        <p class="footer__item-color-text">{{'uhp digital' | uppercase}}</p>
        <p class="footer__item-white-text">{{'DARMSTADT / OSIJEK / ZAGREB' | uppercase}}</p> 
    </div>

    <div class="footer__item">
        <p class="footer__item-color-text">{{'governor' | translate | lowercase}}</p>
        <p class="footer__item-white-text">{{'whos_your' | translate | lowercase}} {{'governor' | translate | lowercase}}?</p>
    </div>
</div>