* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.popupClass :nth-child(2n+2) {
    background-color:rgb(108,99,255,10%);
    color: rgb(108,99,255);
  }
