.input-group{
    display: table;
    width:100%;
  }
  .input-group > div{
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(240, 239, 255);

  }
  .input-group-icon{
    padding: 5px 10px;
    width: 5%;

    & img {
        opacity: 50%;
    }
  }
  .input-group-area{
    width:100%;
  }
  .input-group kendo-autocomplete{
    background-color: rgb(240, 239, 255);
    border: 0;
    display: block;
    width: 100%;
    padding: 8px;
    color: rgb(108,99,255);
    line-height: 30px;
  }