<app-header></app-header>
<!-- ne radi najbolje ako nije responsive uključeno-->
<p class="box"></p>

<section class="form">
  <div class="form__title">
    <div class="form__title-decoration"></div>
    {{'whos_your' | translate | titlecase}}
    <br>
    <span class="form__title-heading">{{'governor' | translate | titlecase}}?</span>
  </div>

  <div class="form__grid">
    <div class="form__main">
      <div class="form__main-label">
        {{'county' | translate | titlecase}}
      </div>
      <div class="input-group">
        <div class="input-group-icon"><img src="../assets/images/Icon-Location.svg"></div>
        <div class="input-group-area">
          <kendo-autocomplete #autoCompleteCounty [data]="countyDataSource" [valueField]="'name'" [filterable]="true" [highlightFirst]="false" [suggest]="true"
            (valueChange)="countyValueChange($event)" (filterChange)="countyFilterChange($event)" (focus)=focusCounty() [popupSettings]="settings">
          </kendo-autocomplete>
        </div>
      </div>
      <div class="form__main-label">
        {{'townOrCommunity' | translate }}
      </div>
      <div class="input-group">
        <div class="input-group-icon"><img src="../assets/images/Icon-Location.svg"></div>
        <div class="input-group-area">
          <kendo-autocomplete #autoCompleteTown [data]="communityTownDataSource" [valueField]="'name'" [filterable]="true" [highlightFirst]="false"
            (valueChange)="townValueChange($event)" (filterChange)="townFilterChange($event)" (focus)=focusTown() [popupSettings]="settings">
          </kendo-autocomplete>
        </div>
      </div>
    </div>

    <div class="form__submit">
      <div class="form__submit-button" (click)="show()">
        {{'showDetails' | translate | titlecase}}
      </div>

    </div>

    <div class="form__image">
      <img src="../assets/images/Illustration-Speaker.svg">
    </div>
  </div>

</section>
<section *ngIf="showDetails">
  <div class="details">
    <div class="details__heading">
      <div>{{'detailsFor' | translate}} {{entity?.name | lowercase | titlecase}}</div>
    </div>
  </div>
 
  <div class="info">
    <div class="info__column">
      <div class="info__row">
        <div class="info__row-label">{{'governor' | translate }}</div>
        <div class="info__row-value">{{entity?.governor | titlecase}}</div>
      </div>
  
      <div class="info__row">
        <div class="info__row-label">{{'viceGovernor' | translate }}</div>
        <div class="info__row-value">{{entity?.viceGovernor | titlecase}}</div>
      </div>
  
      <div class="info__row">
        <div class="info__row-label">{{'address' | translate }}</div>
        <div class="info__row-value">{{entity?.address | titlecase}}</div>
      </div>

      <div class="info__row">
        <div class="info__row-label">{{'zipCode' | translate }}</div>
        <div class="info__row-value">{{entity?.zipCode }}</div>
      </div>
        
      <div class="info__row">
        <div class="info__row-label">{{'country' | translate }}</div>
        <div class="info__row-value">{{'croatia' | translate}}</div>
      </div>
    </div>
    <div class="info__column">
      <div class="info__row">
        <div class="info__row-label">{{'web' | translate }}</div>
        <div class="info__row-value">{{entity?.web }}</div>
      </div>
  
      <div class="info__row">
        <div class="info__row-label">{{'email' | translate }}</div>
        <a href="mailto:{{entity?.email }}" class="info__row-value">{{entity?.email }}</a>
      </div>
  
      <div class="info__row">
        <div class="info__row-label">{{'phone' | translate }}</div>
        <a href="tel:entity?.phone " class="info__row-value">{{entity?.phone }}</a>
      </div>

      <div class="info__row">
        <div class="info__row-label">{{'fax' | translate }}</div>
        <a href="tel:entity?.fax " class="info__row-value">{{entity?.fax }}</a>
      </div>
    </div>
  </div>
  
</section>
<app-footer></app-footer>