
  $screen-sm-min: 576px;

  $screen-md-min: 768px;

  $screen-lg-min: 992px;

  $screen-xl-min: 1200px;


  @mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
  }

  @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
  }

  @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
  }

  @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
  }

.input-group{
    display: table;
    width:100%;
  }
  .input-group > div{
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(240, 239, 255);

  }
  .input-group-icon{
    padding: 5px 10px;
    width: 25%;    
    
    @include sm {
      width: 20%;
    }

    @include lg {
      width: 15%;
    }


    & img {
        opacity: 50%;
    }
  }
  .input-group-area{
    width:100%;
  }
  .input-group kendo-autocomplete{
    background-color: rgb(240, 239, 255);
    border: 0;
    width: 100%;
    padding: 8px;
    color: rgb(108,99,255);
  }

  .form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
    .form__title {
      font-weight: 300;
      padding-top: 5%;
      font-size: 20px;

      @include md {
        font-size: 3em;
      }
      
      @include lg {
        font-size: 4em;
        margin-bottom: -5%;
      }
    
      .form__title-decoration {
        width: 30%;
        @include md {
          width: 12%;
        }
        border-bottom: rgb(108,99,255) solid 10px;
      }

      .form__title-heading {
        color: rgb(108,99,255);
        font-weight: bold;
        font-size: 35px;

        @include md {
          font-size: 65px;
        }
        
        @include lg {
          font-size: 90px;
        }
      }
    }

    .form__image {
      display: none;
      
      @include md {
        display: block;
      }
    }

    .form__grid {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

      .form__main {
        margin-top: auto;
      }

      .form__main-label {
        padding: 15px 0;
      }
    }

    .form__submit {
      padding-left: 2em;
      margin-top: auto;
      display: flex;

      .form__submit-button {
        line-height: 46px;
        align-self: center;
        background-color: rgb(108,99,255);
        color: rgb(240, 239, 255);
        padding: 1% 15%;
        cursor: pointer;
      }
    }

  }

  .details {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    height: 100px;
  
    
    @include md {
      grid-template-columns: 50% 50%;
    }

    .details__heading {
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
      background-color: rgb(108,99,255);
      padding-left: 30%;
      color: rgb(240, 239, 255);
      font-size: 24px;
      display: flex;
      align-items: center; 
    }
  }

  .info {
    margin-top: 3%;
    padding-left: 15%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    color: rgb(108,99,255);

    .info__row {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      margin-bottom: 5%;

      .info__row-label {
        font-weight: bold;
      }

      .info__row-value{
        width: 75%;
        border-bottom: rgb(108,99,255) solid 2px;
        word-break: break-all;
      }
    }
  }

  .background-decoration {
    position: absolute;
    height: 50%;
    width: 50%;
    top: -50px;
    left: 50%;
    background-image: linear-gradient(to top, rgba(128,134,245,1), rgba(73,79,123,1));
    z-index: -10000;    

    :before {
      content: "";
      display: block;
    
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
    
      width: 0;
      height: 0;
      border: 4em solid transparent;
      border-bottom-color: white;
      border-left-color: white;
      }
  }

  .box {
    position: absolute;
    height: 135%;
    display: none;

    @include xl {
      left: 30%;
      width: 70%;
      top: -140px;
      display: block;
    }

    z-index: -10000; 
    background-image: linear-gradient(to top, rgba(128,134,245,1), rgba(73,79,123,1)); 
  
    }
      
  .box:before {
    content: "";
    display: block;
  
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
  
    width: 0;
    height: 0;

    @include md {          
      border: 550px solid transparent;
      border-bottom-color: white;
      border-left-color: white;
    }
  }
      