.header {
    display: inline-grid;
    width: 100%;
    padding: 1% 0;
    grid-template-columns: auto auto;
}

.header__logo {
    width: 30%;
    float: left;
    margin: 0;
}

.header__languages {
    margin-left: auto;
    display: flex;

    .language {
        align-self: center;
        color: red;
        padding: 10px 35px;
        margin-right: 20px;
     
    }
    
    .active{
        border: whitesmoke solid 2px;
    }

    :last-child{
        margin-right: 0;
    }
}



